.navbar-brand {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-brand img {
  height: 40px;
}

.page-content {
  padding-left: 10px;
  padding-right: 10px;
}

.page-header-content {
  position: relative;
  padding: 0 0.5rem;
}

